  GNU nano 2.7.4                                                                                         File: /etc/systemd/system/phant.service                                                                                         Modified  

# /etc/systemd/system/phant.service

[Unit]
Description=Phant service
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/lib/node_modules/phant/
ExecStart=/usr/bin/phant
ExecReload=/bin/kill -1 -- $MAINPID
ExecStop=/bin/kill -- $MAINPID
TimeoutStopSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
